<nav class='nav'>
    <button class='btn'><a class='nav-link' href='/dashboard'>Home</a></button>
    <button class='btn'><a class='nav-link' href='/dashboard'>Dashboard</a></button>
    <button class='btn'><a class='nav-link' href='/' id='logout' type='submit'>Log Out</a></button>
</nav>

<div class="container-lg p-3">

    <h2>Dashboard</h2>

    {{#each postitems as |postitem|}}
    <div class="card p-3" style="width: 18rem;">
        <div class="card-body">
            <h3 class="titleData card-title" id="{{postitem.title}}">{{postitem.title}}</h3>
            <p class="card-text contentData" id="{{postitem.post_content}}">{{postitem.post_content}}</p>
            <p class="card-text userData">Created by {{postitem.user_id}} on {{postitem.date_created}}</p>
            <p class="d-none idData">{{postitem.id}}</p>
            <a href="dashboard/viewpost/{{postitem.id}}" class="card-link">View Post</a>
            <a href="dashboard/updatepost/{{postitem.id}}" class="card-link">Update Post</a>
            <a data-id="{{postitem.id}}" class="card-link delete-post">Delete Post</a>
        </div>
    </div>
    {{/each}}

    <h4>Add Post</h4>

    <form class='row g-3' id='submit-post' action='/add' method='POST'>
        {{!-- <div class='col-lg-7 p-3'>
            <label for='date-created'>Date:</label>
            <input class='form-control' id='date-created' placeholder='MM/DD/YYYY' name='date-created' />
        </div> --}}
        <div class='col-lg-7 p-3'>
            <label for='title'>Title:</label>
            <input class='form-control' id='title' placeholder='Title' name='title' />
        </div>
        <div class='col-lg-7 p-3'>
            <label for='post-content'>Description:</label>
            <input class='form-control' id='post-content' placeholder='What is your post about?'
                name='post-content' />
        </div>
        {{!-- <div class='col-lg-7 p-3'>
            <label for='user-id'>Username:</label>
            <input class='form-control' id='user-id' placeholder='Username' name='user-id' />
        </div> --}}
        <div class='col-lg-7' id='formValidation'></div>
        <div class='col-lg-7 p-3'>
            <button id="add-post" class='btn primary btn'>Add Post</button>
        </div>
    </form>
</div>

    {{!-- <div class="p-3">
        <a href='dashboard/addpost'><button class='btn primary-btn' id='addpost'>New
                Post</button></a>
    </div> --}}

    <script src='/js/viewpost.js'></script>
    <script src='/js/updatepost.js'></script>
    <script src='/js/deletepost.js'></script>
    <script src='/js/addpost.js'></script>